/* Styles go here */

html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    padding: 25px;
}

#video {
    /*display: none;*/
    position: absolute;
    max-width: 70%;
    z-index: -1;
}

.hide {
    display: none;
}

.canvas {
    max-width: 100%;
    position: relative;
    z-index: 1;
    /*height: 100%;*/
    max-height: 100vh;
    // box-shadow: #fff 0 0 2px 2px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    background:#000;
}

.thumbs,
.parts {
    padding: 20px;
}

.parts a {
    display: block;
}

.parts img,
.thumbs img {
    background: #fff;
    cursor: pointer;
}
.thumbs img {
    width: 100px;
}
.controlls {
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 11;
    text-align: center;
}
.button {
    padding: 0 35px;
    border: 1px solid #000;
    background-color: rgb(126, 170, 56);
    box-shadow: rgb(126, 170, 56) 0px 0px 0px 1px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    height: 86px;
    line-height: 36px;
    display: inline-block;
    text-transform: uppercase;
    max-width: 100%;
    border-radius: 36px;
}

.button span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}