<script>
    if(!location.hash.replace('#', '').length) {
        location.href = location.href.split('#')[0] + '#' + (Math.random() * 100).toString().replace('.', '');
        location.reload();
    }
</script>
<script src="/js/plugins/adapter-latest.js"></script>
<div class="wrapper">
    <video id="video" autoplay="true" playsinline></video>
    <canvas class="canvas"></canvas>
    <div class="controlls">
        <button class="button button__photo">
            <span>Take Photo</span>
        </button>
    </div>

    <div class="thumbs"></div>
    <div class="parts"></div>
</div>

<div class="resolution"></div>

<script src="/js/plugins/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/plugins/RTCPeerConnection-v1.5.js"> </script>
<script src="/js/resolution.js"></script>
<script src="/js/br.js"> </script>
<script src="/js/br-send.js"> </script>
<script src="/js/camera.js"></script>