
<div class="settings">
    <button class="button button__start">Start Broadcast</button>
</div>
<!-- CAMERA -->
<div class="wrapper camera hidden visible--remote">
    <video id="video" autoplay="true" playsinline></video>
    <canvas class="canvas"></canvas>
    <div class="controls">
        <button class="button button__photo">
            <span>Take Photo</span>
        </button>
    </div>

    <div class="thumbs"></div>
    <div class="parts"></div>
</div>
<!-- PRESENTATION -->
<div class="wrapper presentation hidden visible--local">
    <div class="frame frame--left">
        <div class="camera__remote frame__inner">
            <img src="/images/iphone.png" class="iphone__frame"/>
            <div class="button__room">Searching ...</div>
            <div class="button__remotePhoto hidden visible--local">
                <span>Take Photo Remote</span>
            </div>
        </div>
    </div>
    <div class="frame frame--right">
        <div class="frame__inner frame--scale">
            <img src="/images/chrome.png" class="chrome__frame"/>
            <iframe class="frame__aem" allow="geolocation; microphone; camera" src="{{ aemUrl }}"></iframe>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script src="/js/plugins/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/plugins/RTCPeerConnection-v1.5.js"> </script>
<!-- First -->
<script src="/js/init.js"> </script>
<script src="/js/aem-content.js"> </script>
<script src="/js/elements.js"> </script>
<script src="/js/iframe.js"> </script>
<script src="/js/resolution.js"></script>
<script src="/js/broadcast.js"> </script>
<script src="/js/connector.js"> </script>
<script src="/js/camera.js"> </script>
<script src="/js/events.js"> </script>
<script src="/js/socket-listeners.js"> </script>
<!-- Last -->
<script src="/js/start.js"> </script>

