<form class="login">
    <input type="text" placeholder="Please enter your secret key!"/>
    <input type="submit" value="Connect" />
</form>
<div class="wrapper">
    <div class="frame">
        <div class="frame__inner">
            <iframe src="/error"></iframe>
        </div>
    </div>
    <div class="frame frame--scale">
        <div class="frame__inner">
            <iframe src="http://sketch2code:6700/editor.html/content/schwarzkopf/de/de/home.html"></iframe>
        </div>
    </div>
</div>
<a href="/video" >Camera</a>
<script src="/js/plugins/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/video.js"></script>
<script src="/js/presentation.js"></script>
